* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div {
    background-color: #668697ad;
    box-shadow: 1px 1px 16px grey;
    border: 1px solid gray;
    border-radius: 18px;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 70%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-align: center;
    padding: 30px;
}


h1 {
    padding-top: 12%;
    font-size: 40px;
    padding-bottom: 40px;

}

h2 {
    font-size: 50px;
    padding-bottom: 40px;
    margin: 0;
}

button {
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 50px;
    letter-spacing: 2px;
    font-size: 17px;
}

button:hover {
    transform: scale(1.02);
    color: goldenrod;
    font-weight: bold;
    cursor: pointer;
}

#increment-btn {
    background-color: darkblue;
}

#save-btn {
    background-color: darkgreen;
}

p {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
}
